* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: #363636;
}

#root {
  width: 45%;
}