.error {
    background-color: purple;
    width: 100%;
}

.error-msg {
    font-size: 2rem;
}

.card {
    margin: 0;
}

.error-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45%;
    transform: translate(-50%, -50%);
}

.error-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}